.stock-page .home-page .analyst-title {
    font-size: 34px;
    color: #616161;
}

.stock-page .home-page td.col1 {
    width: 200px;
}

.stock-page .home-page td.col2 {
    width: 210px;
    position: relative;
}

.stock-page .home-page td.col3 {
    width: 210px;
}

/*td.col4 {
    width: 200px;
}*/

.stock-page .home-page td.col5 {
    width: 100px;
}

.stock-page .home-page td.col6 {
    width: 200px;
}

.stock-page .home-page td.col7 {
    width: 320px;
}

.stock-page .home-page td.col7 > span {
    width: 320px;
    word-break: break-all;
}

.stock-page .home-page td.col8 {
    width: 200px;
}

/*table > tbody > tr > td {*/
    /*font-size: 33px;*/
    /*text-align: center;*/
/*}*/

.stock-page .home-page .stock-di-item {
    border-bottom: 2px solid #cccccc;
}


.stock-page .home-page .follow-bar {
    top: 310px;
}

.stock-page .home-page .rt-div {
    padding-top: 210px;
}

.stock-page .home-page .di-div {
    padding-top: 278px;
}

.stock-page .home-page .stock-di-green {
    font-size: 33px;
    color: rgb(45, 125, 20);
}

.stock-page .home-page .stock-di-red {
    font-size: 33px;
    color: rgb(199, 42, 42);
}

.stock-page .home-page div.stock-di-stock-item {
    margin: 20px 60px 20px 60px;
}

.stock-page .home-page div.stock-ci-stock-item {
    /*height: 154px;*/
    border-bottom: 4px dotted #cccccc;
}

div.stock-di-item > table > tbody > tr > td {
    height: 100px;
    vertical-align: middle;
}

.stock-page .home-page .ci-div {
    padding-top: 278px;
}

.stock-page .home-page div.stock-ci-stock-item-avatar {
    background: url("../img/130-130man.png") no-repeat;
    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0 auto;
    display: block;
    position: relative;
}

.stock-page .home-page div.homepage-item {
    position: fixed;
    top: 96px;
    z-index: 999;
}

.stock-page .home-page div.stock-di-time {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgb(181, 181, 181);
}

.stock-page .home-page div.homepage-item-detail {
    margin-left: 36px;
    margin-top: 10px;
}

.stock-page .home-page div.line {
    font-size: 29px;
    margin: 5px 0;
}

.stock-page .home-page span.stock-title {
    width: 160px;
}

.stock-page .home-page span.stock-title, span.stock-num {
    vertical-align: middle;
    display: inline-block;
}

.stock-page .home-page .green {
    color: rgb(45, 125, 20);
    font-size: 41px;
}

.stock-page .home-page .red {
    color: rgb(177, 104, 0);
    font-size: 41px;
}

.stock-page .home-page .blue {
    color: #259bed;
    font-size: 41px;
}

.stock-page .home-page div.stock-tofollow {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 50px;
}

.stock-page .home-page div.stock-di-item-avatar {
    background: url("../img/130-130man.png") no-repeat;
    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: auto;
    display: block;
    position: relative;
}

.stock-page .home-page canvas#stockChart {
    display: block;
    margin: 50px auto;
}