div.inner-wrapper {
    background: #000;
}

div.drawer {
    width: 486px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.6) 8px 0 40px;
}

div.non-drawer {
    width: 234px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    display: inline-block;
}

div.drawer-avatar {
    background: url("../img/208man.png") no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    border-radius: 100px;
    margin: 160px auto 40px;
}

div.drawer-username {
    color: #259bed;
    font-size: 36px;
    margin: 0 auto 38px;
    text-align: center;
}

div.drawer-pages {
    width: 486px;
}

div.drawer-page {
    height: 80px;
    width: 486px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
}

img.drawer-page-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

span.drawer-page-title {
    color: #259bed;
    font-size: 36px;
    vertical-align: middle;
}

div.drawer-bottom-pages {
    position: absolute;
    bottom: 66px;
    left: 74px;
    right: 74px;
}

span.drawer-bottom-page {
    color: rgb(130, 200, 250);
    font-size: 24px;
    margin: 32px;
}