* {
    font-family: "微软雅黑", monospace;
    font-size: 25px;
    color: #616161;
}

body {
    margin: 0;
}

.search#search-cancel {
    margin-left: 8px;
    display: inline-block;
}

.search#clear-icon {
    position: relative;
    top: 17px;
    right: 14px;
}

.search#search-icon {
    position: relative;
    top: 17px;
    left: 11px;
}

.search.search-button {

}

.search.search-bar {
    width: 720px;
    height: 88px;
    background: rgb(237, 237, 237);
    vertical-align: middle;
    position: fixed;
    z-index: 999;
}

.search.inner-wrapper {
    width: 720px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.search.left {
    float: left;
}

.search.right {
    float: right;
}

.search.middle {
    margin: auto;
}

.search.search-bar {
    width: 720px;
    height: 88px;
    background: rgb(237, 237, 237);
    vertical-align: middle;
    position: fixed;
    z-index: 999;
}

.search.search-button {
    line-height: 88px;
    height: 88px;
    color: rgb(37, 155, 237);
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
}

.search.search-box {
    width: 610px;
    height: 58px;
    border: 1px solid #cccccc;
    background: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    position: relative;
}

.search.search-box > .icon {
    width: 27px;
    height: 27px;
}

.search.search-text {
    margin: 10px 0 10px 20px;
    outline: none;
    border: none;
    width: 500px;
    font-size: 27px;
}

.search.not-found {
    text-align: center;
    font-size: 1.3em;
    padding-top: 50px;
    color: lightgray;
}

.search.content {
    position: relative;
    top: 88px;
    /*overflow: hidden;*/
}



/*analysts*/

.analyst-item .search.col1 {
    width: 150px;
}

.analyst-item .search.col2 {
    width: 200px;
}

.analyst-item .search.col3 {
    width: 300px;
}

.analyst-item .search.col4 {
    width: 100px;
}

.analyst-item .search table > tbody > tr > td {
    font-size: 33px;
    text-align: center;
}

.search.analyst-item > table {
    height: 156px;
}

.search.analyst-item {
    height: 156px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.analyst-item .search.avatar {
    width: 86px;
    height: 86px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0;
    display: block;
    position: relative;
}



/*stocks*/
.stock-item .search.col1 {
    width: 200px;
}

.stock-item .search.col2 {
    width: 200px;
}

.stock-item .search.col3 {
    width: 180px;
}

.stock-item .search.col4 {
    width: 100px;
}

.stock-item.search table > tbody > tr > td {
    font-size: 33px;
    text-align: center;
}

.search.stock-item > table {
    height: 100px;
}

.search.stock-item {
    height: 100px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.stock-item .search.avatar {
    width: 86px;
    height: 86px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0;
    display: block;
    position: relative;
}

