/*.analyst-page .home-page .analyst-title {*/
    /*font-size: 34px;*/
    /*color: #616161;*/
    /*display: block;*/
    /*margin-top: 10px;*/
/*}*/

.analyst-page .home-page .info-word{
    position: relative;
}

.analyst-page .info-word .info{
    position: absolute;
    font-size: 27px;
    width: 200px;
}

.analyst-page .info-word .name{
    top: -20px;
    font-size: 35px;
}

.analyst-page .info-word .institution{
    top: 30px;
}

.analyst-page .info-word .position{
    top: 80px;
}

.analyst-page .info-word .career-time{
    left: 220px;
    top: -20px;
}

.analyst-page .info-word .research-num{
    left: 220px;
    top: 30px;
}

.analyst-page .info-word .honor{
    left: 220px;
    top: 80px;
}

.analyst-page .home-page .col1 {
    width: 180px;
}

.analyst-page .home-page .col2 {
    width: 120px;
    position: relative;
}

.analyst-page .home-page .col2 > .analyst-di-time {
    font-size: 25px;
}

.analyst-page .home-page .col3 {
    width: 120px;
}

.analyst-page .home-page .col4 {
    width: 120px;
}

.analyst-page .home-page .col5 {
    width: 45px;
}

.analyst-page .home-page .col5 > img {
    margin-top: 44px;
}

.analyst-page .home-page .col6 {
    width: 180px;
}

.analyst-page .home-page .col7 {
    width: 390px;
}

.analyst-page .home-page .col8 {
    width: 150px;
}

.analyst-page .home-page .table .col {
    display: inline-block;
    /*height: 68px;*/

}

.analyst-page .home-page .table {
    font-size: 0;
}

.analyst-page .home-page .table span {
    line-height: 68px;
    font-size: 33px;
}

.analyst-page .home-page .table.tableitem span {
    line-height: 124px;
}

.analyst-page .home-page .scroll {
    width: 480px;
    height: 68px;

    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    vertical-align: top;
}

.analyst-page .home-page .table.tableitem .scroll {
    height: 124px;
}

.analyst-page .home-page .inner-scroll {
    width: 720px;
    height: 68px;
    font-size: 0;
}

.analyst-page .home-page .table.tableitem .inner-scroll {
    height: 124px;
}

.analyst-page .home-page div.col {
    text-align: center;
}

.analyst-page .home-page .analyst-di-item {
    border-bottom: 2px solid #cccccc;
}

.analyst-di-item .col {
    height: 68px;
    vertical-align: middle;
}

.analyst-di-item .table.tableitem .col {
    height: 124px;
    vertical-align: middle;
}

.analyst-page .home-page .follow-bar {
    /*top: 310px;*/
}

.analyst-page .home-page .di-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    /*overflow-y: scroll;*/
}

.analyst-page .home-page .analyst-di-green {
    font-size: 33px;
    color: rgb(45, 125, 20);
}

.analyst-page .home-page .analyst-di-red {
    font-size: 33px;
    color: rgb(199, 42, 42);
}

.analyst-page .home-page div.analyst-di-stock-item {
    margin: 20px 60px 20px 60px;
}

.analyst-page .home-page div.analyst-ci-stock-item {
    /*height: 154px;*/
    border-bottom: 4px dotted #cccccc;
}

.analyst-page .home-page .ci-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    /*overflow-y: scroll;*/
}

.analyst-page .home-page div.analyst-ci-stock-item-avatar {
    background: url("../img/130-130man.png") no-repeat;
    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px 20px 0 40px;
    display: block;
    position: relative;
}

.analyst-page.home-page.homepage-item {
     position: absolute;
     top: 96px;
     z-index: 999;

 }

.analyst-page .home-page div.analyst-di-time {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: rgb(181, 181, 181);
}

.analyst-page .home-page img.homepage-item-avatar-tofollow {
    position: absolute;
    right: 30px;
    top: 70px;
    z-index: 999;
}

.analyst-page .home-page div.homepage-item-avatar {
    margin-left: 40px;
    margin-right: 20px;
}

/*.analyst-page .home-page span.analyst-title-name {*/
    /*font-size: 39px;*/
    /*margin-top: 10px;*/
/*}*/

.analyst-page .home-page canvas#analystChart {
    display: block;
    margin: 50px auto;
}

.analyst-page .home-page .rt-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    width: 720px;
    overflow-y: scroll;
}

.analyst-page .home-page .stock-di-stock-item {
    font-size: 33px;
    padding: 5px 25px 5px 45px
}

.analyst-page .home-page .stock-di-stock-item > img {
    height: 35px;
    width: 35px;
    vertical-align: top;
    padding-right: 10px;
}

.analyst-page .home-page span.analyst-ci-stock-item-content {
    font-size: 25px;
    word-break: break-all;
}

.analyst-page .home-page span.analyst-ci-stock-item-time {
    font-size: 25px;
}

.analyst-page .home-page span.analyst-ci-stock-item-content {
    font-size: 25px;
    word-break: break-all;
    line-height: 1.5;
    margin: 10px 0;
}

.analyst-page .home-page span.analyst-ci-stock-item-time {
    font-size: 25px;
}

.analyst-page .home-page .analyst-ci-stock-item div.col6, .analyst-page .home-page .analyst-ci-stock-item div.col8 {
    vertical-align: top;
}

.analyst-page .home-page .analyst-ci-stock-item div.col7 {
    margin: 10px 0;
}

.analyst-page .home-page .info-div {
    display: inline-block;
}

.analyst-page .home-page .followed-stocks {
    position: absolute;
    height: 68px;
    width: 720px;
    top: 0;
    font-size: 33px;
    line-height: 68px;
    text-indent: 30px;
    border-bottom: 4px dotted #cccccc;
}

.analyst-page .radar-item {
    position: absolute;
}

.analyst-page .radar-item span{
    font-size: 25px;
}

.analyst-page .stability {
    top: 100px;
    left: 320px;
}

.analyst-page .speed {
    top: 300px;
    right: 30px;
}

.analyst-page .accuracy {
    top: 600px;
    right: 100px;
}

.analyst-page .overestimation {
    top: 600px;
    left: 140px;
}

.analyst-page .underestimation {
    top: 300px;
    left: 20px;
}
