.home-page #homepage-search-icon {
    position: relative;
    top: 17px;
    left: 11px;
}

.home-page #homepage-clear-icon {
    position: relative;
    top: 17px;
    right: 14px;
}

.home-page #homepage-search-cancel {
    margin-left: 8px;
    display: inline-block;
}

.home-page #homepage-search-rank {
    margin-left: 24px;
}

.home-page #homepage-search-rank-icon {
    vertical-align: middle;
    width: 27px;
    height: 27px;
    /*margin: auto 4px auto 6px;*/
}

.home-page .title-bar {
    height: 76px;
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
    border-bottom: 4px dotted #cccccc;
}

.home-page .title-bar > .title {
    font-size: 41px;
}

.home-page .homepage-item {
    height: 210px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
    font-size: 0;
}

.home-page .selected {
    background: #ededed;
}

.home-page .unselected {
    background: #FFFFFF;
}

.home-page .homepage-item-avatar {
    width: 126px;
    height: 126px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 126px 126px;
    border-radius: 63px;
    vertical-align: top;
    margin: 42px 20px auto 30px;
    display: inline-block;
    position: relative;
}

.home-page .homepage-item-avatar-follow {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.home-page .homepage-item-name {
    color: rgb(37, 155, 237);
    font-size: 41px;
    font-weight: bold;
    margin-right: 22px;
}

.home-page .homepage-item-title {
    color: #259bed;
    font-size: 29px;
}

.home-page .homepage-item-averare {
    font-size: 25px;
    margin-right: 15px;
}

.home-page .homepage-item-detail {
    display: inline-block;
    vertical-align: top;
    width: 544px;
}

.home-page .homepage-item-averarenum {
    font-size: 33px;
    color: rgb(200, 43, 43);
    margin-right: 8px;
}

.home-page .homepage-item-avebias {
    font-size: 25px;
    /*margin-right: 8px;*/
}

.home-page .homepage-item-avebiasnum {
    color: #259bed;
    font-size: 33px;
    margin-right: 8px;
}

.home-page .homepage-item-follow {
    font-size: 25px;
}

.home-page .homepage-item-avatar-tofollow {
    display: inline-block;
    vertical-align: middle;
}

/*modal*/
.home-page .rank-modal {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 720px;
    z-index: 999;
}

.home-page .rank-item {
    background: #ffffff;
    width: 680px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    border-radius: 8px;
    color: #259bed;
    font-size: 35px;
    position: absolute;

    overflow: hidden;
}

.home-page .rank-items {
}

.home-page .slide-up {
    bottom: 0 !important;
}

.home-page .slide-down {
    bottom: -500px !important;
}

.home-page hr {
    width: 680px;
    right: 20px;
    left: 20px;
    z-index: 1000;
    position: absolute;
    border-color: rgba(0, 0, 0, 0.05);
    border-width: 1px 0 0;
}

/*search bar goes here*/
.home-page .search-bar {
    width: 720px;
    height: 88px;
    background: rgb(237, 237, 237);
    vertical-align: middle;
    position: absolute;
    top: 96px;
    z-index: 999;
}

.home-page .search-button {
    line-height: 88px;
    height: 88px;
    color: rgb(37, 155, 237);
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
}

.home-page .search-box {
    width: 550px;
    height: 58px;
    border: 1px solid #cccccc;
    background: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 5px;
    position: relative;
}

.home-page .search-box > .icon {
    width: 27px;
    height: 27px;
}

.home-page .search-text {
    padding-left: 20px;
    line-height: 58px;
    vertical-align: middle;
    display: inline-block;
    border: none;
    width: 455px;
    font-size: 27px;
    background-color: transparent;
    outline: none;
}

.home-page .badge {
    background: rgb(231, 231, 231);
    border-radius: 8px;
    padding: 5px 10px;
    margin: auto 5px;
}

.table .home-page{
    font-size: 0;
}

.col{
    font-size: 0;
}

.home-page .info-div{
    border-bottom: 4px dotted #cccccc;
    padding-left: 15px;
    overflow-x: hidden;
}