.stock-page .home-page .analyst-title {
    font-size: 34px;
    color: #616161;
}

.stock-page .home-page .col1 {
    width: 180px;
}

.stock-page .home-page .col2 {
    width: 120px;
    position: relative;
}

.stock-page .home-page .col2 > .stock-di-time {
    font-size: 25px;
}

.stock-page .home-page .col3 {
    width: 120px;
}

.stock-page .home-page .col4 {
    width: 120px;
}

.stock-page .home-page .col5 {
    width: 45px;
}

.stock-page .home-page .col5 > img {
    margin-top: 44px;
}

.stock-page .home-page .col6 {
    width: 180px;
}

.stock-page .home-page .col7 {
    width: 390px;
}

.stock-page .home-page .col8 {
    width: 150px;
}

.stock-page .home-page .table .col {
    display: inline-block;
    /*height: 68px;*/

}

.stock-page .home-page .table {
    font-size: 0;
    /*position: absolute;*/
    /*height: 68px;*/
    /*top: 0;*/
    /*width: 720px;*/
}

.stock-page .home-page .table span {
    line-height: 68px;
    font-size: 33px;
}

.stock-page .home-page .table.tableitem span {
    line-height: 124px;
}

.stock-page .home-page .scroll {
    width: 480px;
    height: 68px;

    overflow-x: scroll;
    /*overflow-y: hidden;*/
    display: inline-block;
    vertical-align: top;
}

.stock-page .home-page .table.tableitem .scroll {
    height: 124px;
}

.stock-page .home-page .inner-scroll {
    width: 720px;
    height: 68px;
    font-size: 0;
}

.stock-page .home-page .table.tableitem .inner-scroll {
    height: 124px;
}

.stock-page .home-page div.col {
    text-align: center;
}

.stock-page .home-page .stock-di-item {
    border-bottom: 2px solid #cccccc;
}

.stock-di-item .col {
    height: 68px;
    vertical-align: middle;
}

.stock-di-item .table.tableitem .col {
    height: 124px;
    vertical-align: middle;
}

.stock-page .home-page .follow-bar {
    /*top: 310px;*/
}

.stock-page .home-page .rt-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    width: 720px;
    overflow-y: scroll;
}

.stock-page .home-page .di-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    /*overflow-y: hidden;*/
}

.stock-page .home-page .stock-di-green {
    font-size: 33px;
    color: rgb(45, 125, 20);
}

.stock-page .home-page .stock-di-red {
    font-size: 33px;
    color: rgb(199, 42, 42);
}

.stock-page .home-page div.stock-di-stock-item {
    margin: 20px 60px 20px 60px;
}

.stock-page .home-page div.stock-ci-stock-item {
    /*height: 154px;*/
    border-bottom: 4px dotted #cccccc;
}

div.stock-di-item > table > tbody > tr > td {
    height: 100px;
    vertical-align: middle;
}

.stock-page .home-page .ci-div {
    position: absolute;
    top: 210px;
    bottom: 0;
    /*overflow-y: scroll;*/
}

.stock-page .home-page div.stock-ci-stock-item-avatar {
    background: url("../img/130-130man.png") no-repeat;
    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0 auto;
    display: block;
    position: relative;
}

.stock-page.home-page.homepage-item {
    position: absolute;
    top: 96px;
    z-index: 999;

}

.stock-page .home-page div.stock-di-time {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: rgb(181, 181, 181);
}

.stock-page .home-page div.homepage-item-detail {
    margin-left: 36px;
    margin-top: 10px;
}

.stock-page .home-page div.line {
    font-size: 27px;
    /*margin: 5px 0;*/
}

.stock-page .home-page span.stock-title {
    width: 170px;
}

.stock-page .home-page span.stock-title, span.stock-num {
    vertical-align: middle;
    display: inline-block;
    width: 170px;
    font-size: 27px!important;
}

.stock-page .home-page .green {
    color: rgb(45, 125, 20);
    font-size: 41px;
}

.stock-page .home-page .red {
    color: rgb(177, 104, 0);
    font-size: 41px;
}

.stock-page .home-page .blue {
    color: #259bed;
    font-size: 41px;
}

.stock-page .home-page div.stock-tofollow {
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 50px;
}

.stock-page .home-page div.stock-di-item-avatar {
    background: url("../img/130-130man.png") no-repeat;
    width: 86px;
    height: 86px;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: auto;
    display: block;
    position: relative;
}

.stock-page .home-page canvas#stockChart {
    display: block;
    margin: 50px auto;
}

.stock-page .home-page .analyst-di-stock-item {
    font-size: 33px;
    padding: 5px 25px 5px 45px
}

.stock-page .home-page .analyst-di-stock-item > img {
    height: 35px;
    width: 35px;
    vertical-align: top;
    padding-right: 10px;
}

.stock-page .home-page span.stock-ci-stock-item-content {
    font-size: 25px;
    word-break: break-all;
    line-height: 1.5;
    margin: 10px 0;
}

.stock-page .home-page span.stock-ci-stock-item-time {
    font-size: 25px;
}

.stock-page .home-page .stock-ci-stock-item div.col6, .stock-page .home-page .stock-ci-stock-item div.col8 {
    vertical-align: top;
}

.stock-page .home-page .stock-ci-stock-item div.col7{
    margin: 10px 0;
}


.stock-page .home-page .info-div {
    display: inline-block;
    margin: 8px 0 0 10px;
}