.follow-analyst-page .col1 {
    width: 150px;
}

.follow-analyst-page .col2 {
    width: 350px;
}

.follow-analyst-page .col3 {
    width: 150px;
}

.follow-analyst-page .col4 {
    width: 100px;
}

.follow-analyst-page td {
    font-size: 33px;
    text-align: center;
}

.follow-analyst-page .followed-item > table {
    height: 156px;
}

.follow-analyst-page .followed-item {
    height: 156px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.follow-analyst-page .followed-item-avatar {
    width: 86px;
    height: 86px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0;
    display: block;
    position: relative;
}

.follow-analyst-page .followed-item-title {
    font-size: 33px;
}

.follow-analyst-page .badge {
    background: rgb(231, 231, 231);
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px auto;
}