.followed-stock .col1 {
    width: 150px;
    font-size: 30px;
    font-weight: 800;
}

.followed-stock .col2 {
    width: 200px;
}

.followed-stock .col3 {
    width: 200px;
}

.followed-stock .col4 {
    width: 200px;
}

.followed-stock td {
    font-size: 28px;
    text-align: center;
}

table {
    height: 100px;
}

.followed-stock.followed-item {
    height: 100px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.followed-stock .followed-item-avatar {
    width: 86px;
    height: 86px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px auto 0;
    display: block;
    position: relative;
}

.followed-stock .followed-item-title {
    font-size: 33px;
}

.followed-stock .badge {
    background: rgb(231, 231, 231);
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px auto;
}