.col1 {
    width: 150px;
}

.col2 {
    width: 350px;
}

.col3 {
    width: 150px;
}

.col4 {
    width: 100px;
}

table > tbody > tr > td {
    font-size: 33px;
    text-align: center;
}

.followed-item > table {
    height: 156px;
}

.followed-item {
    height: 156px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.selected {
    background: #ededed;
}

.unselected {
    background: #FFFFFF;
}

.followed-item-avatar {
    width: 86px;
    height: 86px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 86px 86px;
    border-radius: 43px;
    vertical-align: top;
    margin: 15px 20px 0;
    display:block;
    position: relative;
}

.followed-item-title {
    font-size: 33px;
}

.badge {
    margin: 10px auto;
}