#homepage-search-icon {
    position: relative;
    top: 17px;
    left: 11px;
}

#homepage-clear-icon {
    position: relative;
    top: 17px;
    right: 14px;
}

#homepage-search-cancel {
    margin-left: 8px;
    display: inline-block;
}

#homepage-search-rank {
    margin-left: 24px;
}

#homepage-search-rank-icon {
    vertical-align: text-bottom;
    width: 27px;
    height: 27px;
    margin: auto 4px auto 6px;
}

.title-bar {
    height: 76px;
    text-align: center;
    vertical-align: middle;
    line-height: 76px;
    border-bottom: 4px dotted #cccccc;
}

.title-bar > .title {
    font-size: 41px;
}

.homepage-item {
    height: 210px;
    width: 720px;
    border-bottom: 4px dotted #cccccc;
}

.selected {
    background: #ededed;
}

.unselected {
    background: #FFFFFF;
}

.homepage-item-avatar {
    width: 126px;
    height: 126px;
    background: #CCEAFE url("../img/130-130man.png") no-repeat;
    background-size: 126px 126px;
    border-radius: 63px;
    vertical-align: top;
    margin: 42px 25px auto 25px;
    display: inline-block;
    position: relative;
}

.homepage-item-avatar-follow {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.homepage-item-name {
    color: rgb(37, 155, 237);
    font-size: 41px;
    font-weight: bold;
    margin-right: 22px;
}

.homepage-item-title {
    color: #259bed;
    font-size: 29px;
}

.homepage-item-averare {
    font-size: 25px;
    margin-right: 15px;
}

.homepage-item-detail {
    display: inline-block;
    vertical-align: top;
    /*width: 535px;*/
}

.homepage-item-averarenum {
    font-size: 33px;
    color: rgb(200, 43, 43);
    margin-right: 8px;
}

.homepage-item-avebias {
    font-size: 25px;
    /*margin-right: 8px;*/
}

.homepage-item-avebiasnum {
    color: #259bed;
    font-size: 33px;
    margin-right: 8px;
}

.homepage-item-follow {
    font-size: 25px;
}

.homepage-item-avatar-tofollow {
    display: inline-block;
    vertical-align: middle;
}

