.user-page .content {
    background: rgb(242, 242, 242);
}

.user-page.inner-wrapper {
    background: rgb(242, 242, 242);
}

.user-page .avatar {
    width: 208px;
    height: 208px;
    background: url("../img/130-130man.png") no-repeat;
    background-size: 208px 208px;
    margin: 154px auto 26px;
}

.user-page .signup-inputs {
    width: 440px;
    height: 315px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: auto;
}

.user-page .signin-inputs {
    width: 440px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: auto;
}

.user-page .signup-inputs > input, .signin-inputs > input {
    width: 400px;
    height: 105px;
    padding: 0 10px;
    margin-left: 10px;
    line-height: 105px;
    font-size: 29px;
    border: none;
    outline: none;
}

.user-page input.divider {
    border-bottom: 2px solid rgb(188, 188, 188);
}

.user-page .usersign-button {
    color: #fff;
    font-size: 29px;
    border-radius: 5px;
    line-height: 62px;
    height: 62px;
    width: 164px;
    background: rgb(37, 155, 237);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
}

.user-page .buttons {
    margin: 50px auto;
    text-align: center;
}

.user-page .back-text {
    margin: 44px auto;
    font-size: 41px;
    color: #259bed;
    text-align: center;
}